<% # render as a partial, passing in a bytestream_owner model that includes
   # the BytestreamOwner module. %>

<div id="kq-image-viewer"></div>
<%= javascript_include_tag '/openseadragon/openseadragon.min.js' %>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "kq-image-viewer",
        preserveViewport: true,
        prefixUrl: "/openseadragon/images/",
        tileSources: [{
            "@context": "http://library.stanford.edu/iiif/image-api/1.1/context.json",
            "@id": "<%= j bytestream_owner.image_iiif_url %>",
            "formats": [ "jpg", "png", "gif", "webp" ],
            "height": <%= j bytestream_owner.master_image.height.to_s %>,
            "profile": "http://library.stanford.edu/iiif/image-api/1.1/compliance.html#level2",
            "qualities": [ "default", "bitonal", "gray", "color" ],
            "scale_factors": [1, 2, 4, 8, 16],
            "tile_height": 256,
            "tile_width": 256,
            "width": <%= j bytestream_owner.master_image.width.to_s %>
        }]
    });
</script>
