// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#collections_index div#kq-page-content {
  ul {
    margin-left:0px;
    padding-left:0px;
    li {
      margin-bottom: 1em;
      img {
        float: left;
        margin-right: 1em;
      }
      list-style:none;
      .kq-title {
        font-size: 1.4em;
      }
      .kq-description {
      }
    }
  }
}

body#collections_show {

}