/**
 * Styles in use across the the public website.
 * For sitewide styles, use sitewide.css.
 */

form.kq-quick-search {
  width: 22em;
  .input-group {
    width: 100%;
  }
}

/* used for items#index, collections#index, and favorites#index */
.kq-results ol {
  margin-left:0px;
  padding-left:0px;
  li {
    margin-bottom: 1em;
    margin-left:2em;
    div:first-child {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
    }
    a.kq-thumbnail-link {
      color: #a0a0a0;
    }
    div.kq-thumbnail {
      float:left;
      font-size:75px;
      margin-right: 20px;
      text-align: center;
      height: 100px;
      width: 100px;
      img {
        max-height: 100px;
        max-width: 100px;
      }
    }
    .kq-title {
      font-size: 1.4em;
    }
    .kq-description {
    }
    .kq-page-count {
      font-size:0.5em;
    }
  }
}

/* TODO: use a glob (doesn't seem to work with sass-rails 5.0/5.0.1) */
@import "../../../local/themes/uiuc/assets/stylesheets/custom.scss";
