// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#items_index div#kq-page-content {
  .kq-facets {
    overflow-x: scroll;
    .kq-clear {
      color: red;
    }
    .kq-selected-term {
      font-weight: bold;
    }
    .kq-count.badge {
      background-color: #c0c0c0;
      font-size: 0.7em;
    }
  }

  .kq-list-facets {
    ul:first-child {
      list-style-type: none;
      margin-left:0px;
      padding-left:0px;
      .kq-field {
        .kq-field-name {
          font-size: 1.1em;
          font-weight: bold;
        }
        .kq-terms {
          margin-bottom:0.5em;
          margin-left:1.5em;
          padding-left:0em;
          .kq-term {
            margin-left:0px;
            padding-left:0px;
          }
        }
      }
    }
  }

  .kq-panel-facets {
    .panel-body {
      overflow-x: scroll;
      ul {
        margin-bottom:0em;
        margin-left: 1em;
        padding-left: 0px;
      }
    }
  }
}

body#items_show {
  .kq-compound-title {
    margin-top:-0.3em;
    small {
      vertical-align:middle;
      a {
        color: black;
      }
    }
  }
  .kq-remove-from-favorites {
    display:none;
  }
  #kq-image-viewer {
    background-color:black;
    height: 500px;
    margin-bottom: 1em;
    max-width: 1000px;
    width: 100%;
  }

  #kq-image-viewer.fullpage {
    max-width: 999999px;
  }

  .kq-horizontal-pages {
    overflow-x: scroll;
    ol {
      margin-left:0px;
      padding-left:0px;
      li {
        display: inline-block;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: -1em;
        text-align: center;
        div:first-child {
          width: 110px;
          .kq-thumbnail {
            display: table-cell;
            font-size:90px;
            height: 100px;
            max-height: 100px;
            vertical-align: top;
            img {
              max-height: 100px;
              max-width: 100px;
            }
          }
        }
      }
    }
  }
}