body#search {
  .panel-body {
    max-height:50em;
    overflow-y: scroll;
  }
  .kq-fields .form-group:first-child .kq-remove-field {
    display:none;
  }
  .kq-collections {
    ol {
      list-style:none;
      margin-left:0px;
      padding-left:0px;
    }
  }
}
