<nav class="navbar navbar-default" role="navigation" id="kq-search-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#kq-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="kq-navbar-collapse">
      <ul class="nav navbar-nav">

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" id="kq-term-search-button">
            <span class="fa fa-terminal"></span> Term
          </a>
        </li>
        <li>
          <a href="#" id="kq-date-search-button">
            <span class="fa fa-calendar-o"></span> Date
          </a>
        </li>
        <li>
          <a href="#" id="kq-place-search-button">
            <span class="fa fa-map-marker"></span> Place
          </a>
        </li>
      </ul>
      </ul>

    </div> <!-- /.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>


<!--
<form method="get" action="<%= repository_items_path %>"
      class="navbar-form navbar-right kq-quick-search" role="search">
  <div class="input-group">
    <%= search_field_tag :q, params[:q], class: 'form-control input-sm',
                         placeholder: 'Search' %>
    <span class="input-group-btn">
              <button type="submit" value="Search" class="btn btn-default btn-sm">
                <i class="fa fa-search"></i>
              </button>
            </span>
  </div>
</form>
-->
