<div id="kq-search-accordion">

  <ul class="nav nav-pills nav-justified" role="tablist">
    <li role="presentation" class="active">
      <a href="#kq-term-search" aria-controls="kq-term-search"
         id="kq-term-search-button" data-toggle="tab">
        <span class="fa fa-terminal"></span> Term
      </a>
    </li>
    <li role="presentation">
      <a href="#kq-date-search" aria-controls="kq-date-search"
         id="kq-date-search-button" data-toggle="tab">
        <span class="fa fa-calendar-o"></span> Date
      </a>
    </li>
    <li role="presentation">
      <a href="#kq-place-search" aria-controls="kq-place-search"
         id="kq-place-search-button" data-toggle="tab">
        <span class="fa fa-map-marker"></span> Place
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="kq-term-search">
      <p>Term search</p>
      <p>Term search</p>
      <p>Term search</p>
      <p>Term search</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="kq-date-search">
      <p>Date search</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="kq-place-search">
      <p>Place search</p>
    </div>
  </div>

</div>



<!--
<form method="get" action="<%= repository_items_path %>"
      class="navbar-form navbar-right kq-quick-search" role="search">
  <div class="input-group">
    <%= search_field_tag :q, params[:q], class: 'form-control input-sm',
                         placeholder: 'Search' %>
    <span class="input-group-btn">
              <button type="submit" value="Search" class="btn btn-default btn-sm">
                <i class="fa fa-search"></i>
              </button>
            </span>
  </div>
</form>
-->
